<web-app>
  <display-name>Distributed config webviewer ${parent.version}</display-name>
  <description>Webviewer</description>
  <distributable/>

  <context-param>
    <param-name>resteasy.guice.modules</param-name>
    <param-value>org.lable.dynamicconfig.webviewer.ApplicationModule</param-value>
  </context-param>

  <context-param>
    <param-name>resteasy.servlet.mapping.prefix</param-name>
    <param-value>/api</param-value>
  </context-param>

  <listener>
    <listener-class>org.lable.dynamicconfig.webviewer.ApplicationContext</listener-class>
  </listener>

  <filter>
    <filter-name>Guice Filter</filter-name>
    <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Guice Filter</filter-name>
    <url-pattern>/servlets/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>Resteasy</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resteasy</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
</web-app>
